<!DOCTYPE html>
<html>
<head>
  <title>SingleSignOnClient</title>
  <%= stylesheet_link_tag    "single_sign_on_client/application", :media => "all" %>
  <%= javascript_include_tag "single_sign_on_client/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
